[ui-view] {
    -moz-transition: all 0.45s cubic-bezier(0.35, 0.33, 0.25, 1.045);
    -o-transition: all 0.45s cubic-bezier(0.35, 0.33, 0.25, 1.045);
    -webkit-transition: all 0.45s cubic-bezier(0.35, 0.33, 0.25, 1.045);
    transition: all 0.45s cubic-bezier(0.35, 0.33, 0.25, 1.045);
    opacity: 1;
}

.view-forward [ui-view].ng-enter {
    -moz-transform: translate(150%, 0%);
    -ms-transform: translate(150%, 0%);
    -webkit-transform: translate(150%, 0%);
    transform: translate(150%, 0%);
    opacity: 0;
}

.view-back [ui-view].ng-enter {
    -moz-transform: translate(-150%, 0%);
    -ms-transform: translate(-150%, 0%);
    -webkit-transform: translate(-150%, 0%);
    transform: translate(-150%, 0%);
}

.view-forward [ui-view].ng-enter-active {
    opacity: 1;
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

.view-back [ui-view].ng-enter-active {
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

.view-forward [ui-view].ng-leave {
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
}

.view-back [ui-view].ng-leave {
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

.view-to-home [ui-view].ng-leave {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.view-forward [ui-view].ng-leave-active {
    -moz-transform: translate(-150%, 0%);
    -ms-transform: translate(-150%, 0%);
    -webkit-transform: translate(-150%, 0%);
    transform: translate(-150%, 0%);
    opacity: 0;
}

.view-back [ui-view].ng-leave-active {
    -moz-transform: translate(150%, 0%);
    -ms-transform: translate(150%, 0%);
    -webkit-transform: translate(150%, 0%);
    transform: translate(150%, 0%);
}

.view-to-home [ui-view].ng-leave-active {
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
}